<header>
  <h1 class="title-medium blue-text">CyberBullying Project</h1>
  <p>Today, children suffer from incessant cyberbullying on a daily basis and even take drastic matters into their own hands, 
    committing suicide after falling victim to bullying on social media platforms.</p>
    <p>Our goal is to create a system that detects offensive content in social media with minimum false alarms.</p>
</header>
<div id="home" class="container">
<div class="section">
  <div class="title-medium blue-text">Tagging System</div>
  <div class="reg-text">
    <p>CyberBullying experts System for tagging posts as offensive or not</p>
  </div>
  <a><img width="30%" class="sec-img" src="assets/images/tagging.jpg"></a>

</div>
<div class="section">
  <div class="title-medium blue-text">Classification System</div>
  <div class="reg-text">
    <p>Classification System for a given post to detemine if it is offensive or not</p>
  </div>
  <a><img width="30%" class="sec-img" src="assets/images/classification.png"></a>
</div>
<div class="section">
  <div class="title-medium blue-text">Model Performances</div>
  <div class="reg-text">
    <p>See the classification model performances</p>
  </div>
  <a><img width="30%" class="sec-img" src="assets/images/performances.png"></a>
</div>
</div>